*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
}

.benefits {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}


/*-----------header------------*/

.header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: auto;
}

.logo-page-nav {
  display: flex;
}

.logo {
  display: flex;
  width: 115px;
  height: 24px;
  padding: 24px 0;

}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-accent {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin: 0 332px 0 76px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.page-nav .link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

.page-address {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.page-address .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}


/*-------section-1---------*/

.section-one {
  background-color: #2E2F42;
  height: 600px;
}

.container-title-one {
  display: flex;
  gap: 48px;
  flex-direction: column;
  width: 1158px;
  height: 600px;
  padding: 0 15px;
  margin: auto;
}

.title-one {
  width: 496px;
  height: 120px;
  margin: 188px auto 0;
}

.section-one .button {
  cursor: pointer;
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
}


/*-------section-2---------*/

.section-two {
  height: 344px;
  padding: 120px 156px;
}

.container-benefits {
  width: 1158px;
  height: 344px;
  padding: 0 15px;
  margin: auto;
}

.guality-list {
  display: flex;
  gap: 24px;
  width: 1158px;
  height: 104px;
}

.benefits-list {
  width: 264px;
  height: 104px;
}

.benefits-list .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.benefits-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }


/*-------section-3---------*/

.section-team {
  background-color: #F4F4FD;
  height: 732px;
  padding-top: 120px;
}

.container-our-team {
  width: 1158px;
  height: 612px;
  padding: 0 15px;
  margin: auto;
}

.our-team {
}

.container-team-list {
  margin: 72px 0 120px;
}

.team-list {
  display: flex;
  text-align: center;
  gap: 24px;
}

.team-list .team {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%), 0 1px 6px 0 rgb(46 47 66 / 8%);
  }

.team-foto {
  display: block;
}

.container-name-speciality {
  margin: 32px 16px;
  width: 232px;
  height: 56px;
}

.container-name-speciality .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
    color: #2E2F42;
  }

  .container-name-speciality .speciality {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
      color: #434455;
    }


/*-------section-4---------*/

.section-portfolio {
  height: 1240px;
  padding-top: 120px;
}

.container-our-portfolio {
  width: 1158px;
  height: 1120px;
  padding: 0 15px;
  margin: auto;
}

.our-portfolio {
}

.portfolio-list {
  margin: 72px 0 120px;
}

.container-portfolio-one {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.portfolio {
  width: 360px;
  height: 420px;
}

.portfolio-foto {
  display: block;
}

.container-title-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.container-title-text .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.container-title-text .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-portfolio-two {
  display: flex;
  gap: 24px;
}


/*----------footer-----------*/

.container-footer {
  background-color: #2E2F42;
  height: 312px;
  padding-top: 100px;
}

.container-logo-text {
  width: 1158px;
  padding: 0 15px;
  margin: auto;
}

.container-logo {
  width: 115px;
  height: 24px;
  margin-bottom: 16px;
}

.logo-link {
}

.logo-accent-footer {
  color: #F4F4FD;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  width: 264px;
  height: 72px;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.button:hover,
.button:focus {
  background-color: #404BBF;
}